{% extends 'base.html' %} 
{% block content %} 
<h1>Welcome, {{ user.username }}!</h1>

<h1>Your vote is valueable to us :)</h1>
<h1>Cast your Vote.</h1>
<form method="post">
    {% csrf_token %}
    <input type="radio" name="party_name" value="BJP"> BJP
    <br>
    <input type="radio" name="party_name" value="CONGRESS"> Congress
    <br>
    <input type="radio" name="party_name" value="AAP"> AAP
    <br>
    <input type="radio" name="party_name" value="NONE"> None of the above
    <br>
    <button type="submit">Submit</button>
</form>
{% endblock %}